<div class="wrapper">
     <header>
        <input type="text" autocomplete="off" class="search-box" placeholder="Enter location">
    </header>
    <main>
        <section class="location">
            <div class="city">What's the weather?</div>
            <div class="date"></div>
        </section>
        <div class="current">
            <div class="temp"><span></span></div>
            <div class="weather"></div>
            <div class="hi-low"></div>
            <div class="wind-speed"></div>
            <div class="icon">
                <img class="weatherIcon" src="" alt="">
            </div>
            <!-- <div class="icon"><i class="wi wi-day-sunny"></i></div> -->
        </div>
    </main>
 </div><!-- End wrapper -->
    