<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Weather app</title>
        <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/weather-icons.min.css">
        <!-- Google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1><%= @title %></h1>
            <%= yield %>
        </div><!-- End container -->
        <script src="app.js"></script>
    </body>
</html>
    
   
